# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Data file
results/*
data/*

# Executables
*.exe
*.out
*.app
build/*

# Development and OS files
.vscode*
*.DS_Store
.devcontainer
.venv
